## Base de Données precipitation et neige 2023 meteo du Copernicus: Lyon, France

* Source! https://cds.climate.copernicus.eu/datasets/reanalysis-era5-single-levels?tab=download

In [1]:
import xarray as xr

# Substitui 'teu_ficheiro.nc' pelo caminho para o ficheiro NetCDF que descarregaste
file_path = (r"C:\Users\sophi\P3 base de donnes\copernicus_lyon2023\data_stream-oper_stepType-accum.nc")

# Carregar o ficheiro NetCDF
data_accum = xr.open_dataset(file_path)

# Mostrar as variáveis e informações do ficheiro
# print(data_accum.head())

# # Ver o conteúdo de uma variável específica
# print(data["2m_temperature"])  # Substituir pelo nome da variável no ficheiro

# # Salvar os dados de uma variável em formato CSV (se necessário)
# data["2m_temperature"].to_dataframe().to_csv("2m_temperature.csv")

# Para explorar o dataset interativamente, converte para Pandas
df_accum = data_accum.to_dataframe()
display(df_accum.sample(10))

,,,number,expver,tp,sf
valid_time,latitude,longitude,,,,
2023-01-31 22:00:00,46.00,5.50,0,0001,9.536743e-07,0.000000e+00
2023-06-19 06:00:00,47.00,5.50,0,0001,0.000000e+00,0.000000e+00
2023-03-11 22:00:00,46.25,5.00,0,0001,1.091957e-04,0.000000e+00
2023-08-27 14:00:00,46.25,5.50,0,0001,2.031326e-04,0.000000e+00
2023-01-23 14:00:00,46.25,6.00,0,0001,4.768372e-07,5.960464e-07
2023-10-19 14:00:00,46.75,6.00,0,0001,4.291534e-06,0.000000e+00
2023-01-19 14:00:00,46.00,5.75,0,0001,9.059906e-05,9.065866e-05
2023-08-25 22:00:00,46.25,6.00,0,0001,3.242493e-03,0.000000e+00
2023-01-24 14:00:00,46.00,6.00,0,0001,0.000000e+00,0.000000e+00
2023-12-17 06:00:00,46.50,6.00,0,0001,0.000000e+00,0.000000e+00

In [2]:
df_accum.shape

(27375, 4)

In [2]:
dfcopernicus_lyon2023 = df_accum

In [3]:
dfcopernicus_lyon2023.sample(10)

                                        number expver        tp   sf
valid_time          latitude longitude
2023-09-23 06:00:00 46.25    5.00            0   0001  0.000000  0.0
2023-06-22 06:00:00 46.00    5.25            0   0001  0.000000  0.0
2023-12-15 22:00:00 46.75    5.00            0   0001  0.000001  0.0
2023-05-20 06:00:00 46.00    5.50            0   0001  0.000000  0.0
2023-12-03 14:00:00 46.50    5.25            0   0001  0.000000  0.0
2023-09-20 14:00:00 46.50    6.00            0   0001  0.000000  0.0
2023-04-05 14:00:00 46.00    5.00            0   0001  0.000000  0.0
2023-02-22 14:00:00 46.00    5.00            0   0001  0.000097  0.0
2023-07-05 06:00:00 46.75    6.00            0   0001  0.000866  0.0
2023-08-19 06:00:00 46.75    5.25            0   0001  0.000000  0.0

In [4]:
dfcopernicus_lyon2023.to_csv("dfcopaccum_lyon23.csv")